* {
    margin: 0;
}

.header{
    background-color: #FCEEF1;
    display: flex;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}



.button{
    background-color: #E55475;
  border: none;
  border-radius: 5PX;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.featured-pic{
    margin-top: 25px;
    text-align: center;
}

.featured-flowers{
    display: flex;
}

.Group{
    display: flex;
    justify-content: space-between;
    background-color: #b1b0b0;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 250px;
    margin-right: 250px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

.sale{
    background-color: #FCEEF1;
    display: flex;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.sale-section{
    text-align: center;
    padding: 100px;
}

.insta-sec{
    margin-top: 25px;
    text-align: center;
}

.insta-flowers{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.latest-deals{
    background-image: url('Rectangle\ 9.png');
    margin-top: 25px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 80px;
    border-radius: 10px;
}