* {
    margin: 0;
}

.header{
    background-color: #FCEEF1;
    display: flex;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}



.button{
    background-color: #E55475;
  border: none;
  border-radius: 5PX;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}